body{
  background-color: rgb(42, 103, 94);
}



h1{
  color: black;
}

.container{
  text-align: center;
  margin-top: 5%;
  height: 200px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;

  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
  background-color: white;

}