body {
    font-family: Arial, sans-serif;
    background-color: #1b73a3;
    margin: 0;
    padding: 0;
}


.container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
}


h1 {
    color: black;
    padding: 20px 0;
}

section {
    margin-bottom: 10px;
}

div {
    margin-bottom: 10px;
}

footer {
  margin-top: 10px;
}



